---
layout: base_staticbanner.njk
title: Espace Membres
bannerHeading: Espace Membres
bannerSubheading: Les liens utiles pour les membres
---
<section class="wrapper style2">
  <div class="inner">
    <p style="text-align: center;">Vous trouverez ici les liens qui vous seront utiles en tant que membre de l'AVCASA.</p>
    <ul class="actions special">
        <li><a href="https://club.givav.fr/givav.php/gvsmart/" class="button primary">GIVAV (Smart glide)</a></li>
        <li><a href="https://gesasso.ffvp.fr/" class="button primary">GESASSO FFVP</a></li>
        <li><a href="https://www.weglide.org/flight?club=Ass.%2520V%25C3%25A9li.%2520Ch%25C3%25A2teau%2520Arnoux-Saint%2520Auban,873" class="button primary">WEGLIDE</a></li>
        <li><a href="https://www.soaringspot.com/fr/" class="button primary">Soaringspot</a></li>
    </ul>
  </div>
</section>