---
layout: base_staticbanner.njk
title: AVCASA - Galerie Photo
description: "Galerie photo"
bannerHeading: Galerie Photo
bannerSubheading: Pour les photographes du club
bannerImage: /assets/images/galerie_banner.jpeg
---