---
layout: base_staticbanner.njk
title: Hebergement
bannerHeading: Hébergement
bannerSubheading: Où dormir et manger après une belle journée de vol
bannerImage: /assets/images/hebergement.jpeg
---
<section class="wrapper style2">
  <div class="inner">
    <p>Quelques options d'hébergement et de restauration sont disponibles à proximité de l'aérodrome de Saint-Auban. La principale offre de logement est proposée par le <u><a href="https://cnvv.net/se-loger/" target="_blank" rel="noopener">CNVP</a></u>. Pour la restauration vous pouvez vous rendre à l'Aérodyne directement sur l'aérodrome ou l'un des nombreux établissements aux alentours.</p>
  </div>
</section>