---
layout: base_staticbanner.njk
title: Le terrain
bannerHeading: Le terrain de Saint-Auban (LFMX)
bannerSubheading: Les installations et procédures
---
<section class="wrapper style2">
  <div class="inner">
    <p>Vous trouverez ici quelques informations sur les installations de l'aérodrome de Saint-Auban (LFMX) et les procédures à suivre pour les pilotes. <strong>Les éléments de cette page sont donnés à titre indicatif et ne sont pas garantis à jour. Pour votre préparation de vol veuillez consulter les informations officielles et à jour disponibles sur le site de la DGAC.</strong></p>
  </div>
</section>
<section class="wrapper alt style1">
  <div class="inner">
    <p>Carte VAC de Saint-Auban: (Pour votre préparation de vol, veuillez consulter les informations officielles et à jour sur le site de la DGAC.)</p>
    <iframe src="/assets/docs/VAC_LFMX.pdf" width="100%" height="1000px">
    This browser does not support PDFs. Please <a href="/assets/docs/tarifs_AVCASA.pdf">download the PDF</a>.
    </iframe>
  </div>
</section>


