---
layout: base_staticbanner.njk
title: AVCASA - Notre Club
description: "Les installations du club"
bannerHeading: Notre Club
bannerSubheading: Un endroit convivial pour les passionnés de vol en planeur
---

<!-- Description de l'association -->
<section class="wrapper style2">
  <div class="inner">
    <h2>L'Association Vélivole de Château-Arnoux-Saint-Auban</h2>
    <p>L'AVCASA a été créée au moment de l'implantation du Centre National de Vol en Planeur (CNVP) sur la plateforme de Saint-Auban afin de permettre aux habitants de la région de pratiquer le vol à voile. Nous sommes un club associé à la FFVP ouvert à tous indépendamment du lieu de résidence.</p>
    <p>Franchissez le pas, contactez nous, nous vous emmènerons pour un vol d'initiation ou mieux, pour "un stage découverte".</p>
    <p>Et si vous désirez en savoir davantage, aller plus loin, apprendre à maîtriser la liberté de planer, l'AVCASA vous propose son école de pilotage dès 14 ans.</p>
    <p>Le club est ouvert toute l'année. L'activité s'exerce essentiellement de début mars à fin octobre. Les mois d'hiver moins favorables sur le plan aérologique sont consacrés à l'entretien des planeurs.</p>
    <p>A l'ombre des marronniers, nous vous accueillons dans notre club-house pour fêter votre lacher, vos circuits et autres évènements qui jalonnent la vie d'un pilote de planeur.
    Nous avons la chance d'avoir un club-house confortable avec bureau, salle de réunion, coin cuisine et douche, plus un atelier réservé à la révision et à l'entretien des planeurs.</p>
  </div>
</section>


<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="/assets/images/Club_house_ext.jpeg" alt="Le Club-House" /></div><div class="content">
            <p>Notre club-house entouré de marronniers, un lieu de convivialité et de partage.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/images/Club_house_foyer.jpeg" alt="Atelier" /></div><div class="content">
            <p>Le foyer du club-house où nos membres se retrouvent pour manger, discuter et célébrer leurs réussites.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/images/Club_house_bureau.jpeg" alt="Atelier" /></div><div class="content">
            <p>Le bureau du club-house où ont lieu les briefings et autres activités administratives.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/images/Club_house_atelier.jpeg" alt="Atelier" /></div><div class="content">
            <p>Notre atelier, un espace dédié à l'entretien de nos planeurs afin d'assurer leur sécurité et performance.</p>
        </div>
    </section>
</section>
