---
layout: base_staticbanner.njk
title: Les Planeurs de l'AVCASA
bannerHeading: Nos planeurs
bannerSubheading: Découvrez notre flotte d'aéronefs
bannerImage: /assets/images/remorque.jpeg
bannerImageCredits: "Pierre Lemaire"
---

<!-- Description générale planeurs -->
<section class="wrapper style2">
  <div class="inner">
    <h2>Notre parc planeurs (2025)</h2>
    <p> L'AVCASA dispose de 3 planeurs disponibles pour ses pilotes et élèves. Nous possédons un planeur biplace (Duo-Discus) utilisé pour les baptêmes et les vols d'initiation, ainsi que deux planeurs monoplace (un Pégase C101 et un ASW28-18).</p>
    <p> Nous avons également un important parc de planeurs privés appartenant à nos membres.</p>
  </div>
</section>

<!-- Liste planeurs club -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="/assets/images/DuoDiscusLT.jpeg" alt="Notre Duo-Discus" /></div><div class="content">
            <h2>Duo-Discus -- F-CKJN -- LT</h2>
            <p>Notre Duo-Discus, le LT, est un planeur biplace hautes performances. Il est utilisé pour toutes nos activités nécessitant deux personnes à bord, que ce soit pour les baptêmes de l'air, les vols d'initiation ou les formations. C'est dans ce planeur qu'un de nos membres a été sacré champion de France en Biplace 20m en 2024.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/images/PegaseLV.jpeg" alt="Notre Pégase C101" /></div><div class="content">
            <h2>Pégase C101 -- F-CGNK -- LV</h2>
            <p>Notre Pégase C101, le LV, est un planeur monoplace de type Standard. C'est le premier monoplace sur lequel sont lachés nos élèves pilotes. Ce planeur les accueille jusqu'à ce qu'ils aient acquis l'expérience nécessaire pour passer sur un planeur plus performant.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/assets/images/ASW28LP.jpeg" alt="Notre ASW28-18" /></div><div class="content">
            <h2>ASW28-18 -- F-CALP -- LP</h2>
            <p>Notre ASW28-18, le LP, est un planeur monoplace hautes performances. Il est utilisé par nos pilotes expérimentés pour réaliser de beaux circuits.</p>
        </div>
    </section>
</section>

<!-- Integration glideandseek dans la page -->
<section class="wrapper style2">
  <div class="inner">
    <h2>Nos planeurs en direct</h2>
    <p>Vous trouverez ici la position de nos planeurs en direct (lorsqu'ils sont en vol).</p>
    <iframe src="https://glideandseek.com/?embed=http://avcasa-test.netlify.app&viewport=44.0592928,5.9891501,9&aircraftDataUrl=http://avcasa-test.netlify.app/assets/glideandseek/aircraft.json"
    width="100%" 
    height="600" 
    frameborder="0" 
    allowfullscreen
    ></iframe>
    </div>
</section>

