---
layout: base_staticbanner.njk
title: Stages
bannerHeading: Stages Découverte
bannerSubheading: Faites vos premiers pas dans le monde du vol en planeur
---

<!-- Introduction -->
<section class="wrapper style2">
  <div class="inner">
    <p>L'idée de voler vous tente ? Vous avez envie de découvrir le vol à voile ? L'AVCASA vous propose des stages découverte pour vous initier à cette activité passionnante.</p>
  </div>
</section>

<!-- Description des activités découverte -->
<section id="two" class="wrapper alt style2">
  <!--
    <section class="spotlight">
        <div class="image"><img src="/assets/images/DuoDiscusLT.jpeg" alt="Photo baptême planeur" /></div><div class="content">
            <h2>Le baptême en planeur</h2>
            <p>Le baptême en planeur est une expérience unique qui vous permet de découvrir les sensations du vol à voile. Vous serez accompagné par un pilote expérimenté qui vous fera découvrir les paysages des alentours depuis les airs.</p>
            <p>Le baptême consiste généralement en un vol d'environ 30 minutes à bord de notre Duo-Discus (avec la possibilité d'y ajouter 30 min une fois en vol).</p>
        </div>
    </section> -->
    <section class="spotlight">
        <div class="image"><img src="/assets/images/PegaseLV.jpeg" alt="Photo stages découverte" /></div><div class="content">
            <h2>Les stages découverte</h2>
            <p>Sur une période de 3 ou 6 jours consécutifs ou non, venez découvrir le Vol à Voile. Notre objectif sera de vous montrer ce que l'on peut faire avec un planeur. Vous serez accompagné par un instructeur qui vous guidera et vous accompagnera tout au long de votre parcours : simulateur de vol, cours théoriques et vols.</p>
            <p>Le stage découverte comprend des cours théoriques, du simulateur de vol et des vols pratiques (3 remorqués ou 15 treuillées et max 6h de vol pour 3 jours de stage). </p>
        </div>
    </section>
</section>

<section class="wrapper style2">
  <div class="inner">
    <p> Pour plus d'informations sur les stages découverte, n'hésitez pas à nous contacter. Les tarifs sont disponibles sur la page correspondante.</p>
    <ul class="actions special">
        <li><a href="/tarifs" class="button primary">Nos tarifs</a></li>
    </ul>
  </div>
</section>